<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Upload File</title>
  </head>
  <body>
    <h1>Upload a new Product</h1>
    <form method="post" enctype="multipart/form-data">
      Name: <input type="text" name="name"><br>
      Price: <input type="text" name="price"><br>
      Description: <input type="text" name="description"><br>
      Image: <input type="file" name="file"><br>
      <input type="submit" value="Upload">
    </form>
  </body>
</html>


<!--
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Upload File</title>
  </head>
  <body>
    <h1>Upload a new Product</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data">
      Name: <input type="text" name="name"><br>
      Price: <input type="text" name="price"><br>
      Description: <input type="text" name="description"><br>
      Image: <input type="file" name="file"><br>
      <input type="submit" value="Upload">
    </form>
    <a href="{{ url_for('list_products') }}">View Products</a>
  </body>
</html>
-->